In [1]:
import pandas as pd # Data-Frames

from sklearn.linear_model import LinearRegression # Linear models
from sklearn.ensemble import RandomForestRegressor # Random Forest

In [6]:
# Load Kaggle data 
df_train = pd.read_csv("input/train.csv")
df_test = pd.read_csv("input/test.csv")

# Display the first five rows to get a feel of the data
df_train.head(5)

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [7]:
df_train.shape
print('First 10 columns: {0} \n Last 20 columns: {1}'.format(list(df_train.columns[:10]), list(df_train.columns[-10:])))

First 10 columns: ['id', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
 Last 20 columns: ['cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12', 'cont13', 'cont14', 'loss']

False

In [8]:
pd.isnull(df_train).values.any()

False

In [9]:
# Split feature names
features = [x for x in df_train.columns if x not in ['id','loss']]
cat_features = [x for x in df_train.select_dtypes(include=['object']).columns if x not in ['id','loss']]
num_features = [x for x in df_train.select_dtypes(exclude=['object']).columns if x not in ['id','loss']]

In [ ]:
# Encode cat features
df = pd.concat((df_train[features], df_test[features])).reset_index(drop=True)
for c in range(len(cat_features)):
    df[cat_features[c]] = df[cat_features[c]].astype('category').cat.codes

In [10]:
n_train = df_train.shape[0]    
X_train, y_train = df.iloc[:n_train,:], df_train['loss']
X_test = df.iloc[n_train:,:]

In [15]:
X_train.head()

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,0,1,0,1,0,0,0,0,1,0,...,0.310061,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843
1,0,1,0,0,0,0,0,0,1,1,...,0.885834,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496
2,0,1,0,0,1,0,0,0,1,1,...,0.397069,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425
3,1,1,0,1,0,0,0,0,1,0,...,0.422268,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642
4,0,1,0,1,0,0,0,0,1,1,...,0.704268,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606

In [16]:
lr = LinearRegression() 
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [17]:
X_test.head()

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
188318,0,1,0,0,0,0,0,0,1,0,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
188319,0,1,0,1,0,0,0,0,1,0,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
188320,0,1,0,1,1,0,1,0,1,1,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
188321,0,0,0,0,1,0,0,0,0,0,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
188322,1,0,0,0,0,1,0,0,0,0,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

In [19]:
lr.predict(X_test)

array([ 1119.1359186 ,  1937.89464706, 11322.62672857, ...,
        2791.04489877,  1038.52287039,  4627.63848261])

In [21]:
# Submission
submission = pd.read_csv("input/sample_submission.csv")
submission.iloc[:, 1] = lr.predict(X_test)
submission.to_csv('lr_starter.csv', index=None)

In [22]:
rf = RandomForestRegressor(n_estimators=100, n_jobs=-1, random_state=2019)
rf.fit(X_train, y_train)
# Submission
submission = pd.read_csv("input/sample_submission.csv")
submission.iloc[:, 1] = rf.predict(X_test)
submission.to_csv('rf_starter.csv', index=None)